<p id="notice"><%= notice %></p>

<p>
  <strong>联系人:</strong>
	<%= @phone.contact.name rescue "手机号还没有关联的联系人" %>
</p>

<p>
  <strong>手机号:</strong>
  <%= @phone.phone_number %>
</p>

<%= link_to '编辑', edit_phone_path(@phone), class: "btn btn-default" %> |
<%= link_to '返回', phones_path, class: "btn btn-default" %>
