<p id="notice"><%= notice %></p>
<div class="btn-group">
  <%= link_to '编辑', edit_phone_path(@phone), class: "btn btn-default" %>
  <%= link_to '返回', :back, class: "btn btn-default" %>
</div>

<p>
  <strong>联系人:</strong>
	<%= @phone.contact.name rescue "手机号还没有关联的联系人" %>
</p>

<p>
  <strong>手机号:</strong>
  <%= @phone.phone_number %>
</p>
