<div class="form-group">
<%= form_for(@department, html: {class: "form-inline"}) do |f| %>
  <div class="form-group">
    <% if @department.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@department.errors.count, "error") %> prohibited this department from being saved:</h2>

        <ul>
          <% @department.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name, "部门名称" %><br>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :company_id, "公司" %><br>
      <%= f.select :company_id, options_from_collection_for_select(@companies, "id", "name", (@department.company.id rescue nil)), {prompt: "请选择部门所在公司"}, onchange: "set_company_departments(this.value)", class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :parent_id, "上级部门" %><br>
      <%= f.select :parent_id, options_from_collection_for_select(@departments, "id", "name", (@department.department.id rescue nil)), {prompt: "请选择部门的上级部门"}, class: "form-control" %>
    </div>
    <div class="actions">
      <%= f.submit "提交", class: "btn btn-default" %>
    </div>
  </div>
<% end %>
</div>
<script type="text/javascript">
  function set_company_departments(value){
    if(value != ""){
      $.ajax({
        type: "POST",
        url: "/companies/" + value + "/set_company_departments",
        data: 'text',
        success: function(data){
          $('#department_parent_id').html(data);
        }
      })
    }
    else {
      $('#department_parent_id').html('<option value="">请选择部门的上级部门</option>');
    }
  }
</script>
