<p id="notice"><%= notice %></p>

<h3>公司部门列表</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>部门名称</th>
      <th>公司名称</th>
      <th>上级部门</th>
      <th colspan="3">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.name %></td>
				<td><%= department.company.name rescue "部门还不属于某个公司" %></td>
        <td><%= department.parent_id || "无上级部门" %></td>
        <td><%= link_to '查看', department %></td>
        <td><%= link_to '编辑', edit_department_path(department) %></td>
        <td><%= link_to '删除', department, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新建部门', new_department_path, class: "btn btn-default" %>
<br>
<%= paginate @departments %>
