<p id="notice"><%= notice %></p>

<h3>公司部门列表</h3>
<div class="form-group">
  <%= search_form_for @q, class: "form-inline" do |f| %>
    <div class="form-group">
      <%= f.label :name_cont, :部门 %>
      <%= f.search_field :name_cont, class: "form-control" %>
      <%= f.submit "查询", class: "btn btn-default" %>
    </div>
  <% end %>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>部门名称</th>
      <th>公司名称</th>
      <th>上级部门</th>
      <th colspan="4">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.name %></td>
				<td><%= department.company.name rescue "部门还不属于某个公司" %></td>
        <td><%= department.department.name rescue "无上级部门" %></td>
        <td><%= link_to '查看部门', department %></td>
        <td><%= link_to '查看部门联系人', contacts_department_path(department) %></td>
        <td><%= link_to '编辑', edit_department_path(department) %></td>
        <td><%= link_to '删除', department, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新建部门', new_department_path, class: "btn btn-default" %>
<br>
<%= paginate @departments %>
