<p id="notice"><%= notice %></p>
<div class="btn-group">
  <%= link_to '编辑', edit_department_path(@department), class: "btn btn-default" %>
  <%= link_to '返回', :back, class: "btn btn-default" %>
</div>
<p>
  <strong>部门名称:</strong>
  <%= @department.name %>
</p>

<p>
  <strong>公司:</strong>
	<%= @department.company.name rescue "部门还不属于某个公司" %>
</p>

<p>
  <strong>上级部门:</strong>
  <%= @department.department.name rescue "无上级部门"%>
</p>

<p>
  <strong>公司所有部门:</strong>
  <%= @department.company.departments.map {|d| d.name}.join(",") %>
</p>
