<p id="notice"><%= notice %></p>

<h3>联系人列表</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>联系人</th>
      <th>联系人所在公司</th>
      <th>联系人所在公司部门</th>
      <th colspan="3">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
				<td><%= contact.company.name rescue "联系人还没有所在公司" %></td>
				<td><%= contact.department.name rescue "联第人还没有所在公司部门" %></td>
        <td><%= link_to '查看', contact %></td>
        <td><%= link_to '编辑', edit_contact_path(contact) %></td>
        <td><%= link_to '删除', contact, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新建联系人', new_contact_path, class: "btn btn-default" %>
<br>
<%= paginate @contacts %>
