<div class="container">
<p id="notice"><%= notice %></p>

<h3>公司列表</h3>
<div class="form-group">
  <%= search_form_for @q, class: "form-inline" do |f| %>
    <div class="form-group">
      <%= f.label :name_cont, :公司名 %>
      <%= f.search_field :name_cont, class: "form-control" %>
      <%= f.submit "查询", class: "btn btn-default" %>
    </div>
  <% end %>
</div>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>公司名称</th>
			<th colspan="5">操作</th>
		</tr>
	</thead>

	<tbody>
		<% @companies.each do |company| %>
			<tr>
				<td><%= company.name %></td>
				<td><%= link_to '查看公司', company %></td>
				<td><%= link_to '查看组织架构', departments_company_path(company) %></td>
				<td><%= link_to '查看联系人', contacts_company_path(company) %></td>
				<td><%= link_to '编辑', edit_company_path(company) %></td>
				<td><%= link_to '删除', company, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to '新建公司', new_company_path, class: "btn btn-default" %>
</div>
<br>
<%= paginate @companies %>
