<p id="notice"><%= notice %></p>
<div class="btn-group">
  <%= link_to '编辑', edit_company_path(@company), class: "btn btn-default" %>
  <%= link_to '返回', companies_path, class: "btn btn-default" %>
</div>

<p>
  <strong>公司名:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>公司部门:</strong>
  <%= @company.departments.map {|d| d.name}.join(",") %>
</p>

<p>
  <strong>公司联系人及联系方式:</strong>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>联系人</th>
        <th>手机号码</th>
      </tr>
    </thead>

    <tbody>
      <% @company.contacts.each do |c| %>
        <tr>
          <td><%= c.name %></td>
          <td><%= c.phones.map {|p| p.phone_number}.join(",") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</p>
